#intro-div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
  }
  
  #intro-header{
    font-size: 60pt;
    margin: 0;
  }
  
  #intro-content{
   font-size: 16pt;
  }

  .button-container{
    margin-top: 10pt;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  @media only screen and (max-width: 500px) {

    #intro-header{
      font-size: 12vw;
      margin: 0;
    }
  }