#plantpedia{
    display: flex;
    flex-flow: row wrap;
    margin-top: auto;
    justify-content: space-evenly;
}

#plantpedia-search{
    margin-top: 10pt;
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
}

#card-container{
    display: flex;
    width: 100vw;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.plant-card{
    display: flex;
    flex-flow: column;
    background-color: #f2e8cf9d;
    width: 30%;
    margin: 10px;
    padding: 8px;
    border-radius: 4px;
    color:#6a994e
}

.plant-header{
    text-align: center;
    font-variant: all-petite-caps;
    letter-spacing: 2pt;
    color: #386641;
}

.plant-stats td{
    font-size: 9pt;
    border: 1px solid black;
    text-align: center;
}
.plant-stats th{
    font-size: 9pt;
    font-variant: all-petite-caps;
    border: 1px solid black;
    text-align: left;
}

.plant-note-container{

}

.plant-subheader{
    text-align: center;
    font-variant: all-petite-caps;
    letter-spacing: 2pt;
    color: #386641;
    margin:2pt 0 0 0;
}

.plant-notes th{
    font-size: 9pt;
    font-variant: all-petite-caps;
    border: 1px solid black;
    text-align: left;
}

.plant-notes td{
    font-size: 9pt;
    border: 1px solid black;
    text-align: center;
}