#plantpedia{
    display: flex;
    flex-flow: row wrap;
    margin-top: auto;
    justify-content: space-evenly;
}

#plantpedia-search{
    margin-top: 10pt;
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
}

#plantpedia-search>input{
    margin-left: 5px;
}

#card-container{
    display: flex;
    width: 100vw;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.plant-card{
    display: flex;
    flex-flow: column;
    background-color: #f2e8cf9d;
    width: 30%;
    margin: 10px;
    padding: 8px;
    border-radius: 4px;
    color:#6a994e
}

.plant-card>a{
    text-decoration: none;
    color: #6a994e;
    text-align: center;
    margin: 0;
}
.plant-header-container{
    display: inline-flex;
    align-self: center;
    border: 2px solid var(--text-color);
    border-radius: 3px;
    margin: 12px 0;
    padding: 0px 3px;
    height: 45px;
}

.plant-header{
    text-align: center;
    font-variant: all-petite-caps;
    letter-spacing: 4pt;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 3px;
    height: fit-content;
    background-color: var(--text-color);
    color: var(--alternate-background-color);
    border: 2px solid var(--text-color);
    border-radius: 3px;  
    align-self: center; 
}

.plant-stats{
    width: fit-content;
    align-self: center;
}

.plant-stats td{
    font-size: 9pt;
    border: 1px solid #cdd99367;
    text-align: center;
    border-radius: 2px;
    background-color: #cdd99367;
}

.plant-stats th{
    font-size: 9pt;
    font-variant: all-petite-caps;
    border: 1px solid var(--background-color);
    text-align: right;
    border-radius: 2px;
    background-color: var(--background-color);
}

.plant-subheader{
    text-align: center;
    font-variant: all-petite-caps;
    letter-spacing: 2pt;
    margin:14pt 0 5px 0;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 2px;
    width: fit-content;
    color: var(--text-color);
    align-self: center;
    border: 2px solid var(--text-color);
    border-radius: 3px;
}

.plant-note-container{
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
}

.plant-notes{
    width: 80%;
    align-self: center;
}

.plant-notes th{
    font-size: 12pt;
    font-variant: all-petite-caps;
    border: 1px solid var(--background-color);
    text-align: center;
    border-radius: 2px;
    background-color: var(--background-color);
}

.plant-notes td{
    font-size: 10pt;
    border: 1px solid #cdd99367;
    border-radius: 2px;
    text-align: center;
    background-color: #cdd99367;
}