.button{
    background-color: transparent;
    border: 2px solid #6A994E;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    align-self: center;
    line-height: 1;
    margin: 10px;
    padding: .9em;
    text-align: center;
    color: #386641;
    background-image: linear-gradient(45deg, #a7c957 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: all 0.2s ease-in-out;
    min-width: 100px;
}

.button:hover {
    background-position: 0;
    text-transform: uppercase;
}