#nav-bar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    background-color: #f2e8cf91;
    z-index: 10;
    padding: 0;
}

#nav-head{
    align-self: center;
    margin-left: 10px;
}

#link-list{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    min-width: 60%;
    margin: 0;
}

.link-li{
    
}

.link-li > a{
    display: block;
    padding: 21px 8px;
    color: var(--link-color);
    text-decoration: none;
}

.link-li > a.active {
    color: var(--text-color);
    background-color: #a7c95785;
    
}

.link-li > a.active:before {
    content: "{ ";
}

.link-li > a.active::after {
    content: " }";
}

.link-li > a:hover {
    color: var(--text-color);
    background-color:#cdd9937a;
}

.link-li > a:hover:before {
    content: "{ ";
}

.link-li > a:hover:after {
    content: " }";
}

